/* General Styles */
body {
  background-color: whitesmoke !important;
}

/* Default styles for large screens */
.registrationForm {
  width: 30%; /* For large screens */
  max-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 0 auto; /* Center the form */
}

.signUpText {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  width: 40%; /* For large screens */
  margin-bottom: 5px;
  color: black;
}

.registrationForm form {
  width: 30%; /* For large screens */
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  height: auto;
  box-sizing: border-box;
}

.registrationForm label {
  display: block;
  font-size: 14px;
  margin-bottom: 3px;
  color: black;
}

.registrationForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submitButton {
  background-color: #000 !important;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 8px;
}

.submitButton:hover {
  background-color: #333;
}

.termsText {
  font-size: 12px;
  color: black;
  margin-top: 5px;
}

.termsText a {
  color: black;
  text-decoration: underline;
}

.socialSignUp {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.socialSignUp button {
  width: 100%;
  padding: 6px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.socialSignUp .google-btn {
  background-color: #000;
  color: white;
}

.socialSignUp .apple-btn {
  background-color: #000;
  color: white;
}

.socialSignUp button:hover {
  opacity: 0.8;
}

.social-logo {
  width: 20px;
  height: auto;
}

.loginText {
  margin-top: 10px;
  text-align: center;
  color: black;
}

.loginText a {
  color: black;
}

/* Responsive Styles for Small Screens */
@media (max-width: 768px) {
  .registrationForm {
    width: 90%; /* Full width for small screens */
    max-width: 500px; /* Limit the maximum width */
    padding: 10px;
  }

  .signUpText {
    font-size: 20px; /* Adjust font size for small screens */
    width: 100%; /* Use full width for better alignment */
  }

  .registrationForm form {
    width: 100%; /* Use full width for small screens */
  }
}
